/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */

 /**
 * General Styles
 */

html,body{
    height: 100%;
	background-color:#fff;
	font-family: Verdana, Geneva, sans-serif;
	margin:0px;
	padding:0px;
}

#holder{
    min-height: 100%;
    position:relative;
}

#body{
    padding-bottom: 200px;    /* height of footer */
	
}

#body a{
	text-decoration:none;
}

#body a:hover{
	text-decoration: none;
}
	
.footer{
    min-height: 100%; 
    width: 100%;
	font-family: Verdana, Geneva, sans-serif;
	margin-top:0;
}

h1.page-header {
	padding: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #fff;
	text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
	background-color: #649ed5;
	border-radius: 5px 5px 5px;
	text-transform: uppercase;
	font-family: Tahoma, Geneva, sans-serif;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 0;
    margin-left: 0;
}


.wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.table thead>tr>th, .table tbody>tr>th, .table tfoot>tr>th, .table thead>tr>td, .table tbody>tr>td, .table tfoot>tr>td {
    border-top: 8px solid #ddd;
}


 /**
 * Main Carousel
 */
 
.carousel-inner     {
	border:0px solid #000000;
	width: 100%;
}

.carousel-inner img{
	height: auto;
    max-width: 100%;
}

/**Fade Effect*/

.carousel-inner .item {
  left: 0 !important;
  -webkit-transition: opacity .8s;
     -moz-transition: opacity .8s;
       -o-transition: opacity .8s;
          transition: opacity .8s;
}

.carousel-inner .item.next.left,
.carousel-inner .item.prev.right {
    opacity: 1;
    z-index: 1;
}
.carousel-inner .item.active.left,
.carousel-inner .item.active.right {
    opacity: 0;
    z-index: 2;
}


 /**
 * OWL Carousel - Locations
 */

div.owl-item{
  margin: 0;
  padding: 5px;
}

div.owl-item img{
  display: block;
  width: 100%;
  height: auto;
}

.carousel-thumbnail{
	display: block;
	padding: 5px;
	line-height: 1.2em;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	text-align: center;
}	

.carousel-thumbnail-image{
	background-color: #fff;
	border: 1px solid #ddd;
	text-align: center;
}	

.carousel-thumbnail-title{
	text-align: center;
	font-weight: bold;
	padding: 5px;
}

.carousel-thumbnail-description{
	text-align: left;
	padding: 5px;
}

 /**
 * OWL Carousel - Events
 */

.pane-event-carousel{
	background-color: #e8e8e8;
	border-radius: 10px 10px 0 0;
	border-bottom: 10px solid #cececc;
	padding: 10px;
}

.pane-event-carousel-title a{
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #77092c;
}

.pane-event-carousel-title a:hover{
	font-weight: bold;
	color: #48051a;
}

h2.pane-event-carousel-date{
	background-color: #f1f1f1;
	border-radius: 4px;
	font-weight: bold; 
	font-family: "Arial Black", Gadget, sans-serif;
	color: #777;
	padding: 5px;
	font-size: 1.75em;
	
}



/**
* Banner
*/

.header{
    background-color: #cecece;
    min-height: 140px;
    padding: 0 0 0 0;
}

.header img {
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}


 /**
 * Locations Index
 */
 
.location-image-thumbnail img{
	display: inline-block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	box-shadow: 2px 2px 4px #888888;
}

.location-title{
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
    padding: 5px;
}

.location-title a{
	color: #777;
}

.location-title a:hover{
	color: #bbb;
	text-decoration:none; 
}

 /**
 * Block Styles
 */

.block-title{
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #3e3e3e;

}

 /**
 * Accordion - Resources Page
 */
 
 .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #d3d3d3;
	background: #e6e6e6;
	font-weight: 400;
	font-family: Verdana, Geneva, sans-serif;
	color: #555;
}

.ui-widget-content {
	background: #fff;
	color: #222;

}

.ui-widget-content a {
	background: #fff;
	color: #777;
	text-decoration: none;
}

.ui-widget-content a:hover{
	color: #bbb;
	text-decoration:none; 
}

 
.resources-subjectsp1{
	background: #fff;
	font-family: Verdana, Geneva, sans-serif;
}

.resources-subjectsp1-row.views-row{
	border: 0;
}

.topmargin {
	margin-top:-10px;
}

.whitebg {
	background-color:#ffffff;	
}


/**
 * Databases Styles
 */

.databases{
	background: transparent;
	font-weight: 400;
	font-family: Verdana, Geneva, sans-serif;
	color: #555;
}

.databases h4 {
    background-color: transparent;
	color: #303030;
}

.databases h4:hover {
	color: #7d7d7d;
}

.databases a:hover {
	color: #a8c1da;
}

.databases>.field-item.even a{
	color: #79434e;
}

.databases-fields-moreinfo{
	color: #9b9b9b;
	font-weight: bold;
	padding-top: 5px;
}

.databases-fields-subjects{
	color: #9b9b9b;
	font-weight: bold;
	padding-top: 5px;
}

h1.databases{
	font-family: Tahoma, Geneva, sans-serif;
}




 /**
 * Library Logo
 */
 
.logo img{
	height: auto;
    max-width: 100%;
	padding-top: 10px;
}
 
 
 /**
 * Navigation Bar
 */

.navbar {
	background-color:#3d3d3d;
	font-size: 1.4em;
	font-family: Gill Sans MT, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	width: 100%;
	border-radius: 0;
	border: 0px solid #3d3d3d;
	box-shadow: 0px 5px 5px #a2a2a2; 
	-moz-box-shadow: 0px 5px 5px #a2a2a2; 
	-webkit-box-shadow: 0px 5px 5px #a2a2a2; 
	-o-box-shadow: 0px 5px 5px #a2a2a2;
}

}.navbar-default {
    background-color: #3d3d3d;
    border-color: #3d3d3d;
}

.navbar-default .navbar-link {
    color: #ececec;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-nav>li>a {
    color: #ececec;
	border-bottom: 10px solid #3d3d3d;
}
		
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}
	

.navbar-default .navbar-nav>li>a:hover {
    color: #ececec;
	border-bottom: 10px solid #427bb2;
}


.navbar-default .navbar-link:hover {
    color: #ececec;
	border-bottom: 10px solid #427bb2;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #ececec;
    background-color: #2a2a2a;
	border-bottom: 10px solid #427bb2;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #ececec;
    background-color: #3d3d3d;
}

.navbar-default .navbar-toggle {
    border-color: #ececec;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2a2a2a;
}

.navbar-collapse{
	overflow-x: hidden;
}


 /**
 * Menus
 */

.nav>li>a:hover {
    background-color: transparent;
	color: #6c6c6c;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}

ul.menu.nav{
	line-height: 1em;
}


 /**
 * Library Footer
 */

.libfooter{
    background-color: #2a2a2a;
    color: #999;
    line-height: .8em;
    font-size: 1em;
	font-family: Verdana;
	border-top: 15px solid #cececc;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	-webkit-box-shadow: 0px -6px 4px #a2a2a2;
    -moz-box-shadow:    0px -6px 4px #a2a2a2;
    box-shadow:         0px -6px 4px #a2a2a2;
}

.libfooter hr { 
	background-color: #999; 
	height: 1px; 
	border: 0; 
}

.libfooter h2 {
	font-family: Verdana;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

.libfooter a{
    color: #ececec !important;
	border-left: 5px solid #2a2a2a;
    text-decoration: none;
}

.libfooter a:hover{
    border-left: 5px solid #427bb2;
	color: #6c6c6c;
}

.libfooter h1, h2, h3, h4, h5{
	background-color: transparent;	
}

 /**
 * Views Styles
 */
	
div.views-row {
	margin-bottom:10px;
	padding:0px;
}

/**
 * Pane Styles
 */

.pane {
	float:left;
	display:inline;
}


h2.pane-title{
	font-family: Gill Sans MT, sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
	color: #fff;
	background-color: #929292;
	border-radius: 5px 5px 5px;
	padding: 5px 5px 5px 10px;
	line-height: 1.2em;
}

h4.panel-title {
	color: #649ed5;
}

.header img {
	padding-left: 15%;
	padding-top: 5%;
	padding-bottom: 5%;
}


 /**
 * Headings
 */

h1 {
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: Tahoma, Geneva, sans-serif;
}

h2 {
	font-size:22px;	
}

h4 {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
}


/**
 * Flags Styles
 */
 
.databases-flags{
	padding-top: 5px;
	margin-top: 5px;
}
 
.flag-wrapper{
	background-color: #428bca;
	box-shadow: 1px 1px 2px #888888;
	border-radius: 4px;
	padding: 4px;
	margin-top: 5px;
	text-align: center;
}

.flag-wrapper:hover{
	background-color: #3276b1;
}

.flag-wrapper a{
	font-weight: bold;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.flag-wrapper a:hover{
	font-weight: bold;
	color: #fff;
}


/**
 * Region-Libfooter
 */
 
 .region-libfooter-third h2{
	display: none;
}

.region-libfooter-third{
    margin-top: 54px;
}


/**
 * Region-Top
 */

#top_regions{
	background: #cccccc; /* Old browsers */
	background: -moz-linear-gradient(top,  #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cccccc 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cccccc 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	width: 100%;
	margin:0px;
}

#top_regions .col-md-5, #top_regions .col-md-7 {
	padding:0px;
}

#top_regions .container-fluid {
padding:0px;
}

#top_regions .row {
	margin:0px;
	padding:0px;
}


/**
 * Region-Discover
 */
 
.region-discover{
	background-color: #fff;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 20px;
	padding-left: 25px;
	padding-right: 20px;
	width: 70%;
	border-radius: 0px 0px 6px 6px;
	box-shadow: 0px 4px 4px #a2a2a2; 
	-moz-box-shadow: 0px 4px 4px #a2a2a2; 
	-webkit-box-shadow: 0px 4px 4px #a2a2a2; 
	-o-box-shadow: 0px 4px 4px #a2a2a2;
}

.region-discover h2{
    font-size: 2.2em;
	letter-spacing: .25em;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #878787;
	text-align: center;
}

.discover_search{
	background-color: #fff;
	text-align: center;
	padding-left: 10px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 768px) {
  .region-discover {
	width: 100%;
  }
}

.discover_box_form {
	margin: 0 auto;
	padding: 5px;
	display: inline-block;
}


/**
 * Region-Banner
 */

div.field-content.banner.img-responsive{
	height: auto;
    max-width: 100%;
}

.region-discover #block-user-login h2.block-title {
	display:none;
}

.user-login {
	background-color:red;
}